body {
    background-image:url(../../image/background.png);
    background-repeat:repeat;
}

.top {
    width:960px;
    height:186px;
    margin:0 auto;
    border:0.5px solid gray;
    background-image:url(../../image/bgimg.jpg);
    background-repeat:repeat-x;
}
    .top .top1 {
           width:960px;
    height:23px;
    border:0.5px solid gray;
    }
     .top .top2 {
            width:960px;
    height:161px;
    }
.center{
    width:960px;
    height:467px;
    margin:0 auto;
     border:0.5px solid red;
}
.foot {
    width:960px;
    height:104px;
    margin:0 auto;
   border:0.5px solid orange;
}